.custom_w{
    width: 60%;
}
.custom_font_weight{
    font-weight: bold;
}
.type_fonts{
    font-weight: bold;
}
.img_custom_width{
    width: 20%;
}
.place_info_bg{
    background: rgb(131, 204, 14);
}